#search_room {
  display: flex;
  margin-top: 100px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: lightblue;
}

#search_status {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#search_p {
  margin-left: 10px;
}
