:root {
  --main-accent-color: rgb(247, 78, 78);
  --main-accent-color-muted: rgb(168, 0, 0);
  --main-highlight-color: rgb(255, 158, 158);
}
body {
  margin: 0;
  background-color: #2b2b2b;
  color: lightblue;
  text-align: center;
<<<<<<< HEAD
  font-family: "Open Sans", sans-serif;
=======
<<<<<<< HEAD
=======
  font-family: "Open Sans", sans-serif;
>>>>>>> master
>>>>>>> dev
  line-height: 1.5em;
  background-image: radial-gradient(
    circle,
    #472525,
    #371d1f,
    #261619,
    #180e10,
    #000000
  );
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100hv;
}

#logo {
  max-width: 800px;
  width: 100%;
  height: auto;
  margin-top: -7%;
}

#start {
  padding: 15px;
}
#home_text {
  margin-top: -11%;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}

#home_start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home_link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14%;
  text-align: center;
}

a {
  margin-left: 5px;
  font-size: 18.72px;
  color: inherit;
  text-decoration: underline;
  color: var(--main-accent-color);
}

a:hover {
  color: var(--main-highlight-color);
}
a:active {
  color: rgb(136, 219, 136);
}

#arrow {
  display: flex;
  border: solid var(--main-accent-color);
  border-width: 0 10px 10px 0;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#arrow:hover {
  border: solid var(--main-highlight-color);
  border-width: 0 10px 10px 0;
  cursor: pointer;
}

#lobby {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

#back_arrow {
  display: flex;
  border: solid var(--main-accent-color);
  border-width: 0 10px 10px 0;
  padding: 10px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}
#back_arrow:hover {
  border: solid var(--main-highlight-color);
  border-width: 0 10px 10px 0;
  cursor: pointer;
}

#arrow_div {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  body {
    line-height: 2em;
  }
}

@media (max-width: 480px) {
  body {
    line-height: 2em;
  }

  #home_text {
    font-size: 10px;
  }
}
